.zxc1{
    display: flex;
    flex-direction: column;
}

input{
    padding: 1vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: border-color 0.3s;
    user-select: text;
}

input:hover{
    border-color: #7b25ea;
}